#Controls {

  width: 40%;
  height: 40%;
  background-color: #555555;
  position: absolute;
  margin-left: 25%;
  margin-top: 10%;

  box-shadow: 5px 10px #474747;

}

#forward {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block

}

.controlButton {

  width: 30%;
  height: 20%;


}
